<!DOCTYPE html>

<html>

  <head>
    <title>Real-Time Pong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="stylesheets/styles.css" rel="stylesheet" type="text/css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

  </head>

  <!-- Application -->
  <body>

    <h1 class="title">Real-Time Pong</h1>

    <div class="canvasDiv">
      <button id="createRoom">Create Room</button>    
    </div>

    <!-- Script insertion -->
		<script src="javascript/main.js"></script>

  </body>

</html>